*
	margin 0
	padding 0
body 
	box-sizing border-box
	font-size 16px
	height 100%
footer
	height auto
	margin 2em 0 0 0
	padding 2em 0 4em 0
	text-align center
	width 100%
	.footer-col1
		display inline-block
		margin -1em 1em 0 1em
		vertical-align top
		width auto
	.footer-col2
		color #999999
		font-family 'Biryani', sans-serif
		font-size .7em
		display inline-block
		line-height 1.5em
		margin 0 1em 0 1em
		text-align left
		vertical-align top
		width 30%
	.footer-col3
		display inline-block
		vertical-align top
		width 13%
		ul li
			font-family 'Biryani', sans-serif
			font-size .7em
			line-height 2.5em
			list-style none
			text-align left
			a
				color #999999
				text-decoration none
	.footer-col4
		color #999999
		display inline-block
		text-align left
		vertical-align top
		width 23%
		h2
			font-size .8em
			margin 0 0 .5em 0
		ul li
			font-family 'Biryani', sans-serif
			font-size .8em
			list-style none
			display inline-block
			vertical-align middle
			a
				color #999999
				text-decoration none
header
	height 100%
	margin 0 0 60px 0
	width 100%
.Clientes
	height auto
	text-align center
	width 100%
	&-1
		height auto
		display inline-block
		padding 1em 0 1em 0
		vertical-align top
		width 20%
		img
			border-radius 50%
		h3
			color #655752
			font-family 'Biryani', sans-serif
			text-transform uppercase
			font-size .9em
			margin .5em 0 3em 0
	&-2
		height auto
		display inline-block
		padding 1em 0 1em 0
		vertical-align top
		width 20%
		img
			border-radius 50%
		h3
			color #655752
			font-family 'Biryani', sans-serif
			text-transform uppercase
			font-size .9em
			margin .5em 0 3em 0
	&-3
		height auto
		display inline-block
		padding 1em 0 1em 0
		vertical-align top
		width 20%
		img
			border-radius 50%
		h3
			color #655752
			font-family 'Biryani', sans-serif
			text-transform uppercase
			font-size .9em
			margin .5em 0 3em 0
	&-4
		height auto
		display inline-block
		padding 1em 0 1em 0
		vertical-align top
		width 20%
		img
			border-radius 50%
		h3
			color #655752
			font-family 'Biryani', sans-serif
			text-transform uppercase
			font-size .9em
			margin .5em 0 3em 0
.Descripcion-empresa
	font-family 'Biryani', sans-serif
	font-size 1.8em
	margin 0 auto
	margin-bottom 3em
	margin-top 1em
	max-width 950px
	text-align justify
	width 100%
	article p
		color #655752
		line-height 1.5em
		span
			color #B73500
.Destacados
	height auto
	text-align center
	width 100%
	.Imagen-1
		display inline-block
		height 291px
		margin 0 .1em 0 .1em
		width 284px		
	.Imagen-2
		display inline-block
		margin 0 .1em 0 .1em
	.Imagen-3
		display inline-block
		margin 0 .1em 0 .1em
	.Imagen-4
		display inline-block
		margin 0 .1em 0 .1em
.Imagen-principalEmpresa
	background-image url("../../public/images/img-empresa.png")
	background-repeat no-repeat
	background-position center
	background-size cover
	height 400px
	margin -4em 0 0 0
	
.Interno
	height auto
	overflow hidden
	width 100%
	&-1
		display inline-block
		vertical-align middle
	&-2
		display inline-block
		float right
		padding 0 1em 0 0
		vertical-align middle
		ul li
			display inline-block
			font-family 'Quicksand', sans-serif
			font-size .9em
			list-style none
			margin 1em .3em 0 .3em
			vertical-align middle
			a
				color #231F20
				padding .3em
				text-decoration none
				-webkit-transition all 0.5s ease-in
				-moz-transition all 0.5s ease-in
				-o-transition all 0.5s ease-in
				transition all 0.5s ease-in
			a:hover
				color #FFF
				background-color #B73500
				border-radius 3px
				padding .3em
				-webkit-transition all 0.5s ease-in
				-moz-transition all 0.5s ease-in
				-o-transition all 0.5s ease-in
				transition all 0.5s ease-in
			span
				color #FFF
				background-color #B73500
				border-radius 3px
				padding .3em
.Inoxigas
	height auto
	margin 0 auto
	margin-bottom 5em
	max-width 1000px
	width 100%
	&-1
		display inline-block
		margin 0 2em 0 0
		vertical-align top
		width auto
	&-2
		display inline-block
		vertical-align top
		width 45%
		article p 
			font-family 'Biryani', sans-serif
			font-size .8em
			margin 1.5em 0 1em 0
		a
			background-color #B73500
			border-radius 3px
			color #FFF
			font-family 'Quicksand', sans-serif
			padding .3em 2em .3em 2em
			text-decoration none
			text-align center
	
.Menu
	display inline-block
	height 100%
	margin 0 1em 0 5em 
	padding 2em
	vertical-align top
	width 20%
	ul li
		font-family 'Quicksand', sans-serif
		font-size 1em
		list-style none
		line-height 2.2em
		margin 0 1em 0 1em
		span
			background-color #B73500
			border-radius 5px
			color #FFF
			padding .3em .5em .3em .5em
		a
			color #333
			text-decoration none
			-webkit-transition all 0.5s ease-in
			-moz-transition all 0.5s ease-in
			-o-transition all 0.5s ease-in
			transition all 0.5s ease-in
		a:hover
			background-color #B73500
			border-radius 5px
			color #FFF
			-webkit-transition all 0.5s ease-in
			-moz-transition all 0.5s ease-in
			-o-transition all 0.5s ease-in
			transition all 0.5s ease-in
			padding .3em .5em .3em .5em
	.Redes
		a
			transition none
		a:hover
			background none
			opacity 0.7
			margin 0
			padding 0
			transition none
.More
	height auto
	margin 0 auto
	margin-bottom 5em
	max-width 1000px
	width 100%
	&-1
		border-top dashed 1px grey
		display inline-block
		margin 0 1em 0 1em
		padding 1em 0 0 0
		vertical-align middle
		width auto
		img
			border-radius 5px
	&-2
		display inline-block
		vertical-align middle
		width 60%
		article p
			color #655752
			font-family 'Biryani', sans-serif
			font-size .8em
.Path
	margin 50 0 1em 0
	width auto
	&-footer
		background-image url("../../public/images/path.png")
		background-repeat no-repeat
		background-position center
		background-size cover
		height 70px	
.Productos
	height auto
	line-height 3.5em
	margin 0 auto
	margin-top 2em
	max-width 1000px
	width 100%
	h2
		color #B73500
		font-family 'Biryani', sans-serif	
		font-size 2.5em
		font-weight 100
	h3
		color #655752
		font-family 'Biryani', sans-serif
		font-size 2.2em
.Redes
	margin .5em 0 0 0 
	ul li
		display inline-block
		margin 0 0 0 .6em
		padding 0
		vertical-align top
.Separdor
	border-bottom dashed 1px #333
	margin 0 auto
	margin-bottom 1em
	margin-top 4em
	width 30%
.Servicios
	height auto
	padding 3em 0 3em 0
	text-align center
	width 100%
	&-logo
		height auto
		display inline-block
		margin 0 .3em 0 .3em
		text-align center
		vertical-align middle
		width 15%
	&-descripcion
		background-image url("../../public/images/fondo.png")
		background-repeat no-repeat
		background-position center
		height 267px
		display inline-block
		vertical-align middle
		width 55%
		article
			line-height 2em
			margin 3em 0 0 0
			padding 0 4em 0 5em
			text-align left
			p
				font-family 'Biryani', sans-serif
				font-size .9em
				color #655752
			a
				color #FFF
				background-color #B73500
				border-radius 3px
				font-family 'Quicksand', sans-serif
				font-size .8em
				font-weight 100
				text-decoration none
				padding .3em 2.8em .3em 1em
				-webkit-transition all 0.5s ease-in
				-moz-transition all 0.5s ease-in
				-o-transition all 0.5s ease-in
				transition all 0.5s ease-in
			a:hover
				opacity 0.7
				-webkit-transition all 0.5s ease-in
				-moz-transition all 0.5s ease-in
				-o-transition all 0.5s ease-in
				transition all 0.5s ease-in
.Slider
	display inline-block
	vertical-align top
	width auto
.Titulo
	font-family 'Quicksand', sans-serif
	font-size 1.2em
	margin 0 0 50px 0
	text-align center
	h3
		color #655752
		font-family 'Biryani', sans-serif
		font-size .8em
		margin-top -1.3em
	&-col1
		border-bottom dashed 1px grey
		display inline-block
		vertical-align middle
		width 20%
	&-col1Interno
		border-bottom dashed 1px grey
		display inline-block
		vertical-align middle
		width 15%
	&-col2
		color #B73500
		display inline-block
		vertical-align middle
		width 40%
	&-col2Interno
		color #B73500
		font-size .8em
		display inline-block
		vertical-align middle
		width 50%
	&-col3
		border-bottom dashed 1px grey
		display inline-block
		vertical-align middle
		width 20%
	&-col3Interno
		border-bottom dashed 1px grey
		display inline-block
		vertical-align middle
		width 15%
.Galeria
	height auto
	margin 0 auto
	margin-bottom 1em
	margin-top 2em
	max-width 1100px
	text-align center
	width 100%
	&-1
		height auto
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #655752
			font-family 'Quicksand', sans-serif
			font-size .9em
			margin 0 0 3em 0
	&-2
		height auto
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
		width 20%
		h2
			color #655752
			font-family 'Quicksand', sans-serif
			font-size .9em
			margin 0 0 3em 0
	&-3
		height auto
		display inline-block
		margin 0 1em 0 .9em
		vertical-align top
		width 20%
		h2
			color #655752
			font-family 'Quicksand', sans-serif
			font-size 1em
			margin 0 0 3em 0
	&-4
		height auto
		display inline-block
		margin 0 1em 0 .9em
		vertical-align top
		width 20%
		h2
			color #655752
			font-family 'Quicksand', sans-serif
			font-size 1em
			margin 0 0 3em 0
.Promos
	height auto
	margin 0 auto
	margin-bottom 2em
	max-width 1100px
	text-align center
	width 100%
	&-1
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
	&-2
		display inline-block
		margin 0 1em 0 1em
		vertical-align top


